<div class="register-wrapper col-12 sm:col-12 md:col-6">
  <div class="register-site">
    <div class="register-title">
      <h2>{{ 'CreateAAccount' | translate }}</h2>
    </div>
    <form action="" [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="register-form">
      <div class="register-form__field">
        <input
          id="lastName"
          class="register-form__field-input"
          [placeholder]="'LastName' | translate"
          formControlName="lastName"
          type="text"
          pInputText />
        <span *ngIf="getLastName.dirty">
          <small
            *ngIf="getLastName.errors?.['minlength']||getLastName.errors?.['required']"
            id="password-help"
            class="register-form__field-message p-error block">
            {{ 'LastName' | translate }} {{ 'NotEmpty' | translate }}.</small
          >
        </span>
      </div>
      <div class="register-form__field">
        <input
          id="firstName"
          class="register-form__field-input"
          [placeholder]="'FirstName' | translate"
          formControlName="firstName"
          type="text"
          pInputText />
        <span *ngIf="getFirstName.dirty">
          <small
            *ngIf="getFirstName.errors?.['minlength']||getFirstName.errors?.['required']"
            id="password-help"
            class="register-form__field-message p-error block">
            {{ 'FirstName' | translate }} {{ 'NotEmpty' | translate }}.</small
          >
        </span>
      </div>

      <div class="register-form__field">
        <input id="email" class="register-form__field-input" placeholder="Email" formControlName="email" type="email" pInputText />
        <span *ngIf="getEmail.dirty">
          <small
            *ngIf="getEmail.errors?.['minlength']||getEmail.errors?.['required']"
            id="password-help"
            class="register-form__field-message p-error block">
            Email {{ 'NotEmpty' | translate }}.</small
          >
          <small *ngIf="getEmail.errors?.['email']" id="password-help" class="register-form__field-message p-error block">
            Email {{ 'Invalid' | translate }}. Vd:tuyen@gmail.com</small
          >
        </span>
      </div>

      <div class="register-form__field">
        <div class="p-input-icon-right block">
          <i [ngClass]="isShowPassword ? 'pi pi-eye-slash' : 'pi pi-eye'" (click)="onChangeShowPassword()"></i>

          <input
            id="password"
            [type]="isShowPassword ? 'text' : 'password'"
            class="register-form__field-input"
            [placeholder]="'Password' | translate"
            formControlName="password"
            type="password"
            pInputText />
        </div>

        <span *ngIf="getPassword.dirty">
          <small
            *ngIf="getPassword.errors?.['minlength']||getPassword.errors?.['required']"
            id="password-help"
            class="register-form__field-message p-error block">
            {{ 'Password' | translate }} {{ 'PasswordAtLeast6Characters' | translate }}.</small
          >
          <small *ngIf="getPassword.errors?.['maxlength']" id="password-help" class="register-form__field-message p-error block">
            {{ 'Password' | translate }} {{ 'PasswordMax40Characters' | translate }}.</small
          >
        </span>
      </div>
      <div class="register-form__field mb-6">
        <div class="p-input-icon-right block">
          <i [ngClass]="isShowRePassword ? 'pi pi-eye-slash' : 'pi pi-eye'" (click)="onChangeShowRePassword()"></i>
          <input
            id="confirmpassword"
            class="register-form__field-input"
            [placeholder]="'ConfirmPassword' | translate"
            [type]="isShowRePassword ? 'text' : 'password'"
            pInputText
            formControlName="confirmPassword" />
        </div>

        <span *ngIf="getConfirmPassword.dirty">
          <small *ngIf="getConfirmPassword.errors?.['matching']" id="password-help" class="register-form__field-message p-error block">
            {{ 'Password' | translate }} {{ 'DontMatch' | translate }}</small
          >
          <small *ngIf="getConfirmPassword.errors?.['required']" id="password-help" class="register-form__field-message p-error block">
            {{ 'Password' | translate }} {{ 'NotEmpty' | translate }}</small
          >
        </span>
      </div>
      <button type="submit" [disabled]="!registerForm.valid" class="btn-action register-form__btn" pButton [loading]="isLoading">
        {{ 'Create' | translate }}
      </button>
    </form>

    <button
      pButton
      [routerLink]="['/auth/login']"
      [label]="'Login' | translate"
      icon="pi pi-arrow-left"
      class="p-button-text back-login-btn"></button>
  </div>
</div>
<p-toast></p-toast>
