<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<div class="order-wrapper container">
  <div class="title text-center mb-6">
    <h2 class="title-account-component">ORDERED LIST</h2>
  </div>
  <p-table [value]="orders" styleClass="p-datatable-striped" [responsive]="true" responsiveLayout="scroll" [scrollable]="true" scrollHeight="61vh">
    <!-- <ng-template pTemplate="caption"> List of latest orders </ng-template> -->
    <ng-template pTemplate="header">
      <tr>
        <th style="flex: 1.5">ID</th>
        <th style="flex: 2">Order date</th>
        <th style="flex: 1.5">Total</th>
        <th style="flex: 7">Address</th>
        <th style="flex: 2">Status Shipping</th>
        <th style="flex: 1.5">Status Payment</th>
        <th style="flex: 0.8">Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary" *ngIf="orders.length !== 0">
      <div class="page">
        <p-paginator
          [rows]="paginator.pageSize"
          [totalRecords]="paginator.totalElements"
          [first]="paginator.pageSize * paginator.pageNumber"
          (onPageChange)="onPageChange($event)"
          [rowsPerPageOptions]="[10, 20, 30]"></p-paginator>
      </div>
    </ng-template>
    <ng-template pTemplate="body" let-order>
      <tr>
        <td style="flex: 1.5">
          <a [routerLink]="['/account/order/' + order.id]" class="order-link">HD-{{ order.id }}</a>
        </td>
        <td style="flex: 2">{{ order.createdDate | date : 'M/d/yy, h:mm a' }}</td>
        <td style="flex: 1.5">{{ order.total | myCurrency : 'VND' }}</td>
        <td style="flex: 7">
          <!-- {{
            order.address.street +
              ", " +
              order.address.ward +
              ", " +
              order.address.district +
              ", " +
              order.address.city
          }} -->
          <div class="text-right md:text-left">{{ order.address }}</div>
        </td>
        <td style="flex: 2">
          {{ order.shippingStatus.name }}
        </td>
        <td style="flex: 1.5">
          {{ order.payment.status }}
        </td>
        <td style="flex: 0.8">
          <a class="cursor-pointer text-red-700" *ngIf="order.shippingStatus.name === 'UNVERIFIED'" (click)="onCancelOrder(order)">Cancel</a>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="7">No Order found.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
