<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<p-toast></p-toast>
<div class="order-wrapper container">
  <div class="title text-center mb-6">
    <h2 class="title-account-component">{{ 'MyOrder' | translate }}</h2>
  </div>
  <p-table
    #dt
    [value]="orders"
    styleClass="p-datatable-striped"
    [responsive]="true"
    responsiveLayout="scroll"
    [scrollable]="true"
    scrollHeight="61vh">
    <!-- <ng-template pTemplate="caption"> List of latest orders </ng-template> -->
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <span class="text-2xl">{{ 'Total' | translate }}: {{ paginator.totalElements }}</span>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains')" placeholder="Search..." />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="flex: 1.5">{{ 'ID' | translate }}</th>
        <th style="flex: 2">{{ 'OrderDate' | translate }}</th>
        <th style="flex: 2">{{ 'Total' | translate }}</th>
        <th style="flex: 7">{{ 'Address' | translate }}</th>
        <th style="flex: 2.5">{{ 'ShippingStatus' | translate }}</th>
        <th style="flex: 2.5">{{ 'PaymentStatus' | translate }}</th>
        <th style="flex: 0.8">{{ 'Action' | translate }}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary" *ngIf="orders">
      <div class="page">
        <p-paginator
          [rows]="paginator.pageSize"
          [totalRecords]="paginator.totalElements"
          [first]="paginator.pageSize * paginator.pageNumber"
          (onPageChange)="onPageChange($event)"
          [rowsPerPageOptions]="[10, 20, 30]"></p-paginator>
      </div>
    </ng-template>
    <ng-template pTemplate="body" let-order>
      <tr>
        <td style="flex: 1.5">
          <a [routerLink]="['/account/order/' + order.id]" class="order-link">HD-{{ order.id }}</a>
        </td>
        <td style="flex: 2">{{ order.createdDate | date : 'M/d/yy, h:mm a' }}</td>
        <td style="flex: 2">{{ order.total | myCurrency : 'VND' }}</td>
        <td style="flex: 7">
          <div class="text-right md:text-left">{{ order.address }}</div>
        </td>
        <td style="flex: 2.5">
          {{ order.shippingStatus.name | translate }}
        </td>
        <td style="flex: 2.5">
          {{ order.payment.status | translate }}
        </td>
        <td style="flex: 0.8">
          <a class="cursor-pointer text-red-700" *ngIf="order.shippingStatus.name === 'UNVERIFIED'" (click)="onCancelOrder(order)">Cancel</a>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="7">No Order found.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
