<div class="cart-wrapper">
  <div class="cart-site container">
    <div class="cart-title">
      <h2 class="cart-title__text">Giỏ hàng của bạn</h2>
    </div>
    <div class="cart-content grid">
      <div class="cart-table lg:col-8 md:col-12 sm:col-12">
        <div class="cart-number-item">
          <p class="cart-number-item__text">
            Bạn đang có <b>7 sản phẩm</b> trong giỏ hàng
          </p>
        </div>
        <ul class="cart-list">
          <li class="cart-item">
            <span
              ><img
                src="https://product.hstatic.net/200000271661/product/6_da7b88aa791e4ea9a4d1bf90e7588a66_medium.png"
                alt=""
            /></span>
            <div class="cart-item__infor">
              <p class="cart-item__infor-name">
                Rau dền Lam baby Hữu cơ (Gói 250g)
              </p>
              <p class="cart-item__infor-price">60,000</p>
              <div class="cart-item__infor-quantity">
                <button class="btn-qty">-</button>
                <input
                  type="text"
                  class="cart-item__infor-quantity-value"
                  value="20"
                />
                <button class="btn-qty">+</button>
              </div>
              <span class="cart-item__infor-total"
                >Thành tiền: <b>180,000đ</b>
              </span>
              <a class="cart-item__remove">
                <i class="pi pi-trash cart-item__remove-icon"></i>
              </a>
            </div>
          </li>
          <li class="cart-item">
            <span
              ><img
                src="https://product.hstatic.net/200000271661/product/6_da7b88aa791e4ea9a4d1bf90e7588a66_medium.png"
                alt=""
            /></span>
            <div class="cart-item__infor">
              <p class="cart-item__infor-name">
                Rau dền Lam baby Hữu cơ (Gói 250g)
              </p>
              <p class="cart-item__infor-price">60,000</p>
              <div class="cart-item__infor-quantity">
                <button class="btn-qty">-</button>
                <input
                  type="text"
                  class="cart-item__infor-quantity-value"
                  value="20"
                />
                <button class="btn-qty">+</button>
              </div>
              <span class="cart-item__infor-total"
                >Thành tiền: <b>180,000đ</b>
              </span>
              <div class="cart-item__remove">
                <i class="pi pi-trash cart-item__remove-icon"></i>
              </div>
            </div>
          </li>
          <li class="cart-item">
            <span
              ><img
                src="https://product.hstatic.net/200000271661/product/6_da7b88aa791e4ea9a4d1bf90e7588a66_medium.png"
                alt=""
            /></span>
            <div class="cart-item__infor">
              <p class="cart-item__infor-name">
                Rau dền Lam baby Hữu cơ (Gói 250g)
              </p>
              <p class="cart-item__infor-price">60,000</p>
              <div class="cart-item__infor-quantity">
                <button class="btn-qty">-</button>
                <input
                  type="text"
                  class="cart-item__infor-quantity-value"
                  value="20"
                />
                <button class="btn-qty">+</button>
              </div>
              <span class="cart-item__infor-total"
                >Thành tiền: <b>180,000đ</b>
              </span>
              <div class="cart-item__remove">
                <i class="pi pi-trash cart-item__remove-icon"></i>
              </div>
            </div>
          </li>
          <li class="cart-item">
            <span
              ><img
                src="https://product.hstatic.net/200000271661/product/6_da7b88aa791e4ea9a4d1bf90e7588a66_medium.png"
                alt=""
            /></span>
            <div class="cart-item__infor">
              <p class="cart-item__infor-name">
                Rau dền Lam baby Hữu cơ (Gói 250g)
              </p>
              <p class="cart-item__infor-price">60,000</p>
              <div class="cart-item__infor-quantity">
                <button class="btn-qty">-</button>
                <input
                  type="text"
                  class="cart-item__infor-quantity-value"
                  value="20"
                />
                <button class="btn-qty">+</button>
              </div>
              <span class="cart-item__infor-total"
                >Thành tiền: <b>180,000đ</b>
              </span>
              <div class="cart-item__remove">
                <i class="pi pi-trash cart-item__remove-icon"></i>
              </div>
            </div>
          </li>
          <li class="cart-item">
            <span
              ><img
                src="https://product.hstatic.net/200000271661/product/6_da7b88aa791e4ea9a4d1bf90e7588a66_medium.png"
                alt=""
            /></span>
            <div class="cart-item__infor">
              <p class="cart-item__infor-name">
                Rau dền Lam baby Hữu cơ (Gói 250g)
              </p>
              <p class="cart-item__infor-price">60,000</p>
              <div class="cart-item__infor-quantity">
                <button class="btn-qty">-</button>
                <input
                  type="text"
                  class="cart-item__infor-quantity-value"
                  value="20"
                />
                <button class="btn-qty">+</button>
              </div>
              <span class="cart-item__infor-total"
                >Thành tiền: <b>180,000đ</b>
              </span>
              <div class="cart-item__remove">
                <i class="pi pi-trash cart-item__remove-icon"></i>
              </div>
            </div>
          </li>
        </ul>
        <div class="cart-note">
          <div class="cart-note__title">Ghi chú đơn hàng</div>
          <div class="cart-note__content">
            <textarea
              rows="5"
              cols="30"
              pInputTextarea
              [autoResize]="true"
            ></textarea>
          </div>
        </div>
      </div>
      <div class="cart-total lg:col-4 md:col-12 sm:col-12">
        <div class="cart-total-box">
          <div class="cart-total__title">Thông tin đơn hàng</div>
          <div class="cart-total__value">
            <span class="cart-total__value-name">Tổng tiền:</span>
            <span class="cart-total__value-number">180,000đ</span>
          </div>
          <div class="cart-total__desc">
            Phí vận chuyển sẽ được tính ở trang thanh toán. Bạn cũng có thể nhập
            mã giảm giá ở trang thanh toán.
          </div>
          <div class="cart-total__action">
            <button class="btn-action">THANH TOÁN</button>
            <a
              [routerLink]="['/product']"
              class="btn-action btn-continue-shopping"
            >
              Tiếp tục mua hàng
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
