<p-toast position="bottom-right"></p-toast>
<div class="profile-wrapper">
  <div class="profile-wrapper col-12 sm:col-12 md:col-8">
    <div class="profile-site">
      <div class="profile-title">
        <h2 class="title-account-component">{{ 'MyProfile' | translate }}</h2>
      </div>
      <form action="" [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="profile-form">
        <div class="profile-form__field">
          <label for="email" class="mb-2 text-2xl inline-block">Email</label>
          <input id="email" class="profile-form__field-input" placeholder="Email" formControlName="email" type="email" pInputText />
          <span *ngIf="getEmail.dirty">
            <small
              *ngIf="getEmail.errors?.['minlength']||getEmail.errors?.['required']"
              id="password-help"
              class="profile-form__field-message p-error block">
              Email {{ 'NotEmpty' | translate }}.</small
            >
            <small *ngIf="getEmail.errors?.['email']" id="password-help" class="profile-form__field-message p-error block">
              Email {{ 'Invalid' | translate }}. Vd:tuyen@gmail.com</small
            >
          </span>
        </div>

        <div class="profile-form__field">
          <label for="first-name" class="mb-2 text-2xl inline-block">First Name</label>
          <input
            id="first-name"
            class="profile-form__field-input"
            [placeholder]="'FirstName' | translate"
            formControlName="firstName"
            type="first-name"
            pInputText />
          <span *ngIf="firstName.dirty">
            <small *ngIf="firstName.errors?.['required']" class="profile-form__field-message p-error block">
              {{ 'FirstName' | translate }} {{ 'NotEmpty' | translate }}.</small
            >
            <small *ngIf="firstName.errors?.['minlength']" class="profile-form__field-message p-error block">
              {{ 'FirstName' | translate }} {{ 'PasswordAtLeast6Characters' | translate }}.</small
            >
            <small *ngIf="firstName.errors?.['maxlength']" class="profile-form__field-message p-error block">
              {{ 'FirstName' | translate }} {{ 'PasswordMax40Characters' | translate }}.</small
            >
          </span>
        </div>
        <div class="profile-form__field mb-6">
          <label for="last-name" class="mb-2 text-2xl inline-block">{{ 'LastName' | translate }}</label>
          <input
            id="last-name"
            class="profile-form__field-input"
            [placeholder]="'LastName' | translate"
            formControlName="lastName"
            type="last-name"
            pInputText />
          <span *ngIf="lastName.dirty">
            <small *ngIf="lastName.errors?.['required']" class="profile-form__field-message p-error block">
              {{ 'LastName' | translate }} {{ 'NotEmpty' | translate }}.</small
            >
            <small *ngIf="lastName.errors?.['minlength']" class="profile-form__field-message p-error block">
              {{ 'LastName' | translate }} {{ 'PasswordAtLeast6Characters' | translate }}.</small
            >
            <small *ngIf="lastName.errors?.['maxlength']" class="profile-form__field-message p-error block">
              {{ 'LastName' | translate }} {{ 'PasswordMax40Characters' | translate }}.</small
            >
          </span>
        </div>
        <div class="grid action-wrapper mt-3">
          <button
            type="submit"
            [disabled]="!profileForm.valid || isDisable"
            class="btn-action profile-form__btn col-5 sm:col-4 md:col-4"
            pButton
            [loading]="isLoading">
            {{ 'Save' | translate }}
          </button>
        </div>
      </form>
    </div>
    <div class="change-password mt-7">
      <h2 class="text-center text-4xl">{{ 'ChangePassword' | translate }}</h2>
      <form action="" [formGroup]="resetForm" (ngSubmit)="changePassword()" class="profile-form">
        <div class="profile-form__field">
          <label for="old-password" class="mb-2 text-2xl inline-block">{{ 'Password' | translate }}</label>
          <div class="p-input-icon-right block">
            <i [ngClass]="isShowPassword ? 'pi pi-eye-slash' : 'pi pi-eye'" (click)="onChangeShowPassword()"></i>
            <input
              id="old-password"
              class="profile-form__field-input"
              [type]="isShowPassword ? 'text' : 'password'"
              [placeholder]="'Password' | translate"
              formControlName="oldPassword"
              type="password"
              title="Password"
              pInputText />
          </div>

          <span *ngIf="getOldPassword.dirty">
            <small
              *ngIf="getOldPassword.errors?.['minlength']||getOldPassword.errors?.['required']"
              id="password-help"
              class="profile-form__field-message p-error block">
              {{ 'Password' | translate }} {{ 'PasswordAtLeast6Characters' | translate }}.</small
            >
            <small *ngIf="getOldPassword.errors?.['maxlength']" id="password-help" class="profile-form__field-message p-error block">
              {{ 'Password' | translate }} {{ 'PasswordMax40Characters' | translate }}.</small
            >
            <small *ngIf="errorMessageInvalidPassword" id="password-help" class="profile-form__field-message p-error block">
              {{ errorMessageInvalidPassword }}</small
            >
          </span>
        </div>
        <div class="profile-form__field">
          <label for="password" class="mb-2 text-2xl inline-block">{{ 'NewPassword' | translate }}</label>

          <div class="p-input-icon-right block">
            <i [ngClass]="isShowNewPassword ? 'pi pi-eye-slash' : 'pi pi-eye'" (click)="onChangeShowNewPassword()"></i>
            <input
              id="password"
              [type]="isShowNewPassword ? 'text' : 'password'"
              class="profile-form__field-input"
              [placeholder]="'NewPassword' | translate"
              formControlName="newPassword"
              type="password"
              title="New Password"
              pInputText />
          </div>

          <span *ngIf="getNewPassword.dirty">
            <small
              *ngIf="getNewPassword.errors?.['minlength']||getNewPassword.errors?.['required']"
              id="password-help"
              class="profile-form__field-message p-error block">
              {{ 'Password' | translate }} {{ 'PasswordAtLeast6Characters' | translate }}.</small
            >
            <small *ngIf="getNewPassword.errors?.['maxlength']" id="password-help" class="profile-form__field-message p-error block">
              {{ 'Password' | translate }} {{ 'PasswordMax40Characters' | translate }}.</small
            >
          </span>
        </div>
        <div class="profile-form__field mb-6">
          <label for="confirmpassword" class="mb-2 text-2xl inline-block">{{ 'ConfirmPassword' | translate }}</label>
          <div class="p-input-icon-right block">
            <i [ngClass]="isShowRePassword ? 'pi pi-eye-slash' : 'pi pi-eye'" (click)="onChangeShowRePassword()"></i>
            <input
              id="confirmpassword"
              class="profile-form__field-input"
              [type]="isShowRePassword ? 'text' : 'password'"
              [placeholder]="'ConfirmPassword' | translate"
              type="password"
              pInputText
              formControlName="confirmPassword"
              title="Confirm Password" />
          </div>

          <span *ngIf="getConfirmPassword.dirty">
            <small *ngIf="getConfirmPassword.errors?.['matching']" id="password-help" class="profile-form__field-message p-error block">
              {{ 'Password' | translate }} {{ 'DontMatch' | translate }}.</small
            >
            <small *ngIf="getConfirmPassword.errors?.['required']" id="password-help" class="profile-form__field-message p-error block">
              {{ 'Password' | translate }} {{ 'NotEmpty' | translate }}.</small
            >
          </span>
        </div>
        <div class="grid action-wrapper mt-3">
          <button
            type="submit"
            [disabled]="!resetForm.valid"
            class="btn-action reset-form__btn col-5 sm:col-4 md:col-4 m-0 border-noround profile-form__btn"
            pButton
            [loading]="isLoadingChangePassword">
            {{ 'Change' | translate }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
