<p-toast position="bottom-right"></p-toast>
<div class="profile-wrapper">
  <div class="profile-wrapper col-12 sm:col-12 md:col-6">
    <div class="profile-site">
      <div class="profile-title">
        <h2>profile</h2>
      </div>
      <form
        action=""
        [formGroup]="profileForm"
        (ngSubmit)="onSubmit()"
        class="profile-form"
      >
        <div class="profile-form__field">
          <input
            id="email"
            class="profile-form__field-input"
            placeholder="Email"
            formControlName="email"
            type="email"
            pInputText
          />
          <span *ngIf="getEmail.dirty">
            <small
              *ngIf="getEmail.errors?.['minlength']||getEmail.errors?.['required']"
              id="password-help"
              class="profile-form__field-message p-error block"
            >
              Email không được bỏ trống.</small
            >
            <small
              *ngIf="getEmail.errors?.['email']"
              id="password-help"
              class="profile-form__field-message p-error block"
            >
              Email sai định dạng. Vd:tuyen@gmail.com</small
            >
          </span>
        </div>

        <div class="profile-form__field">
          <input
            id="first-name"
            class="profile-form__field-input"
            placeholder="First name"
            formControlName="firstName"
            type="first-name"
            pInputText
          />
          <span *ngIf="firstName.dirty">
            <small
              *ngIf="firstName.errors?.['required']"
              class="profile-form__field-message p-error block"
            >
              First name is not empty.</small
            >
            <small
              *ngIf="firstName.errors?.['minlength']"
              class="profile-form__field-message p-error block"
            >
              Minimum length must be 3 characters.</small
            >
            <small
              *ngIf="firstName.errors?.['maxlength']"
              class="profile-form__field-message p-error block"
            >
              Maximum length must be 40 characters.</small
            >
          </span>
        </div>
        <div class="profile-form__field">
          <input
            id="last-name"
            class="profile-form__field-input"
            placeholder="Last name"
            formControlName="lastName"
            type="last-name"
            pInputText
          />
          <span *ngIf="lastName.dirty">
            <small
              *ngIf="lastName.errors?.['required']"
              class="profile-form__field-message p-error block"
            >
              Last name không được bỏ trống.</small
            >
            <small
              *ngIf="lastName.errors?.['minlength']"
              class="profile-form__field-message p-error block"
            >
              Minimum length must be 3 characters.</small
            >
            <small
              *ngIf="lastName.errors?.['maxlength']"
              class="profile-form__field-message p-error block"
            >
              Maximum length must be 20 characters.</small
            >
          </span>
        </div>
        <div class="grid action-wrapper">
          <button
            type="submit"
            [disabled]="!profileForm.valid || isDisable"
            class="btn-action profile-form__btn col-5 sm:col-4 md:col-4"
            pButton
            [loading]="isLoading"
          >
            Save
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
