<p-toast></p-toast>
<p-confirmDialog
  header="Confirmation"
  icon="pi pi-exclamation-triangle"
></p-confirmDialog>
<div class="container">
  <div class="title text-center mb-6">
    <h2 class="title-account-component">Address</h2>
  </div>
  <div class="grid">
    <div class="account-side col-12 sm:col-12 md:12 lg:col-3">
      <h5 class="title text-3xl uppercase">Account</h5>
      <ul class="text-2xl">
        <li>
          <a routerLink="/account/profile" class="block py-2">
            <i class="pi pi-circle"></i> Account information</a
          >
        </li>
        <li>
          <a routerLink="/account/order" class="block py-2"
            ><i class="pi pi-circle"></i> Orders</a
          >
        </li>
        <li>
          <a (click)="logout()" class="block py-2"
            ><i class="pi pi-circle"></i> Logout</a
          >
        </li>
      </ul>
    </div>
    <div class="col-12 sm:col-12 md:12 lg:col-9">
      <div class="card">
        <p-toolbar styleClass="mb-4 gap-2">
          <ng-template pTemplate="left">
            <button
              pButton
              pRipple
              label="New"
              icon="pi pi-plus"
              class="p-button-success mr-2"
              (click)="openNew()"
            ></button>
            <button
              pButton
              pRipple
              label="Delete"
              icon="pi pi-trash"
              class="p-button-danger"
              (click)="deleteSelectedAddresses($event)"
              [disabled]="!selectedAddresses || !selectedAddresses.length"
            ></button>
          </ng-template>
          <ng-template pTemplate="right">
            <p-button
              type="button"
              icon="pi pi-refresh"
              styleClass="p-button-text"
              (click)="resetView()"
            ></p-button
          ></ng-template>
        </p-toolbar>
        <div *ngIf="addresses.length === 0" class=" ">
          <p-message
            severity="info"
            text="Address is empty"
            styleClass="mr-2"
          ></p-message>
        </div>
        <p-table
          *ngIf="addresses.length !== 0"
          #dt
          [value]="addresses"
          [rows]="row"
          [paginator]="true"
          [globalFilterFields]="[
            'ward',
            'city',
            'district',
            'street',
            'firstName',
            'lastName'
          ]"
          [(selection)]="selectedAddresses"
          [rowHover]="true"
          dataKey="id"
          [showCurrentPageReport]="true"
          responsiveLayout="scroll"
        >
          <!-- <ng-template pTemplate="summary">
            <div class="page">
              <p-paginator
                [rows]="1"
                [totalRecords]="paginator.totalElements"
                [first]="paginator.pageNumber!"
                (onPageChange)="onPageChange($event)"
              ></p-paginator>
            </div>
          </ng-template> -->
          <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
              <h5 class="m-0">Manage addresss</h5>
              <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input
                  pInputText
                  type="text"
                  (input)="applyFilterGlobal($event, 'contains')"
                  placeholder="Search..."
                />
              </span>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 4rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>
              <th pSortableColumn="name">
                Name <p-sortIcon field="name"></p-sortIcon>
              </th>
              <th>Address</th>
              <th pSortableColumn="phone">
                Phone <p-sortIcon field="phone"></p-sortIcon>
              </th>
              <th>Default</th>
              <th style="min-width: 10rem"></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-address>
            <tr>
              <td>
                <p-tableCheckbox [value]="address"></p-tableCheckbox>
              </td>
              <td>{{ address.lastName + ", " + address.firstName }}</td>
              <td>
                {{
                  address.street +
                    ", " +
                    address.ward +
                    ", " +
                    address.district +
                    ", " +
                    address.city
                }}
              </td>
              <td>
                {{ address.phone }}
              </td>
              <td>
                <span [class]="'address-default status-' + address.isDefault">{{
                  address.isDefault === 0 ? "" : "DEFAULT"
                }}</span>
              </td>
              <td>
                <button
                  pButton
                  pRipple
                  icon="pi pi-pencil"
                  class="p-button-rounded p-button-success mr-2"
                  (click)="editAddress(address)"
                ></button>
                <button
                  pButton
                  pRipple
                  icon="pi pi-trash"
                  class="p-button-rounded p-button-warning"
                  (click)="deleteAddress(address, $event)"
                ></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>

      <p-dialog
        [(visible)]="addressDialog"
        [style]="{ width: '450px' }"
        header="New address"
        [modal]="true"
        styleClass="p-fluid"
      >
        <ng-template pTemplate="content">
          <div class="formgrid grid">
            <div class="field col">
              <label for="firstName">First name</label>
              <input
                type="text"
                pInputText
                id="firstName"
                [(ngModel)]="address.firstName"
                required
                [ngClass]="{
                  'ng-invalid ng-dirty': submitted && !address.firstName
                }"
              />
              <small class="p-error" *ngIf="submitted && !address.firstName"
                >First name is required.</small
              >
            </div>
            <div class="field col">
              <label for="lastName">Last name</label>
              <input
                type="text"
                pInputText
                id="lastName "
                [(ngModel)]="address.lastName"
                required
                [ngClass]="{
                  'ng-invalid ng-dirty': submitted && !address.lastName
                }"
              />
              <small class="p-error" *ngIf="submitted && !address.lastName"
                >Last name is required.</small
              >
            </div>
          </div>
          <div class="field">
            <label for="phone">Phone</label>
            <input
              pInputText
              id="phone "
              [(ngModel)]="address.phone"
              required
              [pattern]="phonePattern"
              #phone="ngModel"
              [ngClass]="{
                'ng-invalid ng-dirty': (submitted && !address.phone)||(submitted && phone.errors?.['pattern'])
              }"
            />
            <small class="p-error" *ngIf="submitted && !address.phone"
              >Phone is required.</small
            >
            <small class="p-error" *ngIf="phone.errors?.['pattern']"
              >Phone is invalid.</small
            >
          </div>
          <div class="field">
            <label for="street">Street</label>
            <input
              pInputText
              id="street"
              [(ngModel)]="address.street"
              required
              #street="ngModel"
              [ngClass]="{
                'ng-invalid ng-dirty': (submitted && !address.street)||(submitted && street.errors?.['pattern'])
              }"
            />
            <small class="p-error" *ngIf="submitted && !address.street"
              >Street is required.</small
            >
          </div>
          <div class="field-checkbox">
            <label for="binary">Set default: </label>
            <p-checkbox
              [(ngModel)]="isDefault"
              [binary]="true"
              inputId="binary"
            ></p-checkbox>
          </div>
          <div class="field">
            <p-dropdown
              (onChange)="onChangeProvince($event.value.code)"
              [style]="{ minWidth: '100%' }"
              [options]="provinces"
              placeholder="Select a City"
              optionLabel="name"
              [ngClass]="{
                'ng-invalid ng-dirty': submitted && isEmptyObject(city)
              }"
              [(ngModel)]="city"
            ></p-dropdown>
            <small class="p-error" *ngIf="submitted && isEmptyObject(city)"
              >City is required.</small
            >
          </div>
          <div class="field">
            <p-dropdown
              (onChange)="onChangeDistrict($event.value.code)"
              [style]="{ minWidth: '100%' }"
              [options]="districts"
              placeholder="Select a district"
              optionLabel="name"
              [ngClass]="{
                'ng-invalid ng-dirty': submitted && isEmptyObject(district)
              }"
              [(ngModel)]="district"
            ></p-dropdown>
            <small class="p-error" *ngIf="submitted && isEmptyObject(district)"
              >District is required.</small
            >
          </div>
          <div class="field">
            <p-dropdown
              [options]="wards"
              placeholder="Select a ward"
              optionLabel="name"
              [ngClass]="{
                'ng-invalid ng-dirty': submitted && isEmptyObject(ward)
              }"
              [(ngModel)]="ward"
            ></p-dropdown>
            <small class="p-error" *ngIf="submitted && isEmptyObject(ward)"
              >Ward is required.</small
            >
          </div>
        </ng-template>

        <ng-template pTemplate="footer">
          <button
            pButton
            pRipple
            label="Cancel"
            icon="pi pi-times"
            class="p-button-text"
            (click)="hideDialog()"
          ></button>
          <button
            pButton
            pRipple
            label="Save"
            icon="pi pi-check"
            class="p-button-text"
            [loading]="isLoading"
            (click)="saveAddress()"
          ></button>
        </ng-template>
      </p-dialog>
    </div>
  </div>
</div>
<app-loading [hidden]="!isLoading"></app-loading>
