@import "../../../scss/utils/variable";
.title-account-component {
  display: inline-block;
  font-size: 32px;
  font-weight: 700;

  padding-bottom: 8px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 100%;
    right: 0;
    transform: translateX(-50%);
    width: 50%;
    height: 4px;
    background-color: #131313;
  }
}
.p-element {
  .p-datatable .p-datatable-tbody > tr > td {
    font-size: 1.4rem;
    font-family: $font-family;
    font-weight: 500;
    color: #00381a;
  }
}
.p-datatable .p-datatable-thead > tr > th {
  font-family: $font-family;
  color: #00381a;
  font-weight: 600;
  font-size: 1.6rem;
}

.p-datatable-header {
  font-size: 2rem;
  color: #00381a;
  font-family: $font-family;
  text-transform: uppercase;
}
.p-component {
  font-size: 1.4rem;
  .p-link {
    font-size: 1.4rem;
  }
  .p-inputtext {
    font-size: 1.4rem;
  }
}
.account-side {
  color: #00381a;
  a {
    cursor: pointer;
  }
}
.p-element {
  .p-dialog-content {
    overflow-y: unset;
  }
}
.address-default {
  border-radius: 2px;
  padding: 0.25em 0.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.3px;
  &.status-1 {
    background: #c8e6c9;
    color: #256029;
  }
  // &.status-0 {
  //   background: #ffcdd2;
  //   color: #c63737;
  // }
}
.p-button-text {
  .pi {
    font-size: 1.4rem;
  }
}
.p-inline-message.p-inline-message-info {
  display: block;
  padding: 18px 8px;
  margin: 0;
  .p-inline-message-text {
    font-size: 1.4rem;
    font-family: $font-family;
  }

  .p-inline-message-icon {
    font-size: 1.4rem;
  }
}
