@import '../../scss/utils/variable';
.status-default {
  border-radius: 2px;
  padding: 0.25em 0.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.3px;
  &.status-1 {
    background: #c8e6c9;
    color: #256029;
  }
  &.status-2 {
    background: #eccfff;
    color: #694382;
  }
  &.status-3 {
    background: #b3e5fc;
    color: #23547b;
  }
  &.status-4 {
    background: #ffd8b2;
    color: #805b36;
  }
  &.status-5 {
    background: #ffcdd2;
    color: #c63737;
  }
  &.status-6 {
    background: #feedaf;
    color: #8a5340;
  }
}
.payment {
  &:hover {
    color: $main-color;
  }
}
p-calendar {
  width: 100%;
  span.p-calendar {
    width: 100% !important;
    display: block;
    input {
      width: 100% !important;

      .p-datepicker {
        table {
          font-size: 1.4rem;
        }
      }
    }
    .p-datepicker {
      table {
        font-size: 1.4rem;
      }
    }
  }
}
.p-column-filter-clear-button {
  width: 3rem;
  height: 3rem;
  .pi {
    font-size: 1.4rem;
  }
}
.eyes-view {
  .pi {
    font-size: 1.4rem;
  }
}
.p-dialog-content {
  overflow: unset !important;
}
:host ::ng-deep .p-multiselect {
  min-width: 15rem;
  width: 18rem;
}

:host ::ng-deep .multiselect-custom {
  .p-multiselect-label {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .country-item-value {
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    display: inline-flex;
    margin-right: 0.5rem;
    background-color: var(--primary-color);
    color: var(--primary-color-text);

    img.flag {
      width: 17px;
    }
  }

  .country-placeholder {
    padding: 0.25rem;
  }
}
// :host ::ng-deep {
//   @media screen and (max-width: 640px) {
//     .p-multiselect {
//       width: 100%;
//     }
//   }
// }
