<!-- <app-loading [hidden]="!isLoadingComponent"></app-loading> -->
<p-toast></p-toast>
<p-confirmDialog header="Confirmation" rejectButtonStyleClass="p-button-secondary p-button-plain" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<div class="mt-2">
  <div class="text-3xl font-semibold mb-4">{{ titleComponent }}</div>
  <div class="col-12 sm:col-12 md:12 lg:col-12 px-0">
    <div class="card">
      <!-- <p-toolbar styleClass="mb-4 gap-2">
        <ng-template pTemplate="left">
          <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
        </ng-template>
        <ng-template pTemplate="right">
          <p-button type="button" icon="pi pi-refresh" styleClass="p-button-text" (click)="resetView()"></p-button
        ></ng-template>
      </p-toolbar> -->

      <p-table
        [loading]="isLoadingTable"
        #dt
        [value]="orders"
        styleClass="p-datatable-striped"
        [rowHover]="true"
        dataKey="id"
        [showCurrentPageReport]="true"
        [responsive]="true"
        responsiveLayout="scroll"
        [scrollable]="true"
        scrollHeight="61vh">
        <ng-template pTemplate="summary" *ngIf="!orders.length">
          <div class="page grid align-items-center">
            <div class="col-12">
              <p-paginator
                [rows]="paginator.pageSize"
                [totalRecords]="paginator.totalElements"
                [first]="paginator.pageSize * paginator.pageNumber"
                (onPageChange)="onPageChange($event)"
                [rowsPerPageOptions]="[10, 20, 30]"></p-paginator>
            </div>
          </div>
        </ng-template>

        <ng-template pTemplate="caption">
          <div class="flex align-items-center justify-content-end">
            <!-- <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button> -->

            <span>
              <!-- Show {{ paginator.pageSize * paginator.pageNumber + 1 }} to
              {{
                orders.length <= paginator.pageNumber
                  ? paginator.pageSize * paginator.pageNumber + orders.length
                  : paginator.pageSize * paginator.pageNumber + paginator.pageSize
              }}
              of {{ paginator.totalElements }} products. -->
              Total: {{ paginator.totalElements }} Orders
            </span>
            <!-- <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains')" placeholder="Search..." />
            </span> -->
          </div>
          <div class="grid pt-4 p-fluid align-items-end filter-bar">
            <div class="col-2">
              <label for="email-filter" class="block mb-1">Adress</label>
              <span class="p-input-icon-right">
                <i class="pi pi-times cursor-pointer" (click)="clearFilterAddress()" *ngIf="filter.address"></i>
                <input type="text" placeholder="Search Address here" [(ngModel)]="filter.address" pInputText id="email-filter" [maxLength]="30" />
              </span>
            </div>
            <div class="col-2">
              <label class="block mb-1">Shipping</label>
              <p-dropdown
                [options]="listStatuses"
                [(ngModel)]="statusFilterSelected"
                (onChange)="onChangeStatusFilter()"
                optionLabel="id"
                [showClear]="true"
                placeholder="Select a Status">
                <ng-template pTemplate="selectedItem">
                  <div class="country-item country-item-value" *ngIf="statusFilterSelected">
                    <div>
                      <span [class]="'status-default status-' + statusFilterSelected.id">{{ statusFilterSelected.name }}</span>
                    </div>
                  </div>
                </ng-template>
                <ng-template let-status pTemplate="item">
                  <div class="status-item">
                    <div>
                      <span [class]="'status-default status-' + status.id">{{ status.name }}</span>
                    </div>
                  </div>
                </ng-template>
              </p-dropdown>
            </div>
            <div class="col-2">
              <label for="" class="block mb-1">Payment Status</label>
              <p-dropdown
                [options]="paymentStatusList"
                [(ngModel)]="paymentStatusFilter"
                (onChange)="onChangePaymentStatusFilter()"
                placeholder="Select a Status"
                optionLabel="name"
                [showClear]="true"></p-dropdown>
            </div>
            <div class="col-2">
              <label for="" class="block mb-1">Payment Method</label>
              <p-dropdown
                [options]="paymentMethodList"
                [(ngModel)]="paymentMethodFilter"
                (onChange)="onChangePaymentMethodFilter()"
                placeholder="Select a Method"
                optionLabel="name"
                [showClear]="true"></p-dropdown>
            </div>
            <div class="col-3">
              <label for="" class="block mb-1">Create Date</label>
              <p-calendar
                [(ngModel)]="datesFilter"
                (onSelect)="onSelectDateFilter()"
                (onClearClick)="onClearDate()"
                [showButtonBar]="true"
                placeholder="Select Date here"
                selectionMode="range"
                [readonlyInput]="true"
                inputId="range"
                todayButtonStyleClass="p-secondary-button"
                [showIcon]="true"></p-calendar>
            </div>
            <div class="col-1">
              <p-button *ngIf="hasValueFilter()" label="Filter" styleClass="p-button-sm" (click)="onFilterUser()"></p-button>
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="id" style="flex: 0.5">Id <p-sortIcon field="id"></p-sortIcon></th>
            <th pSortableColumn="createdDate" style="flex: 2">Order date</th>
            <th style="flex: 5">Address</th>
            <th style="flex: 1">Status<p-sortIcon field="price"></p-sortIcon></th>
            <th style="flex: 1">Payment</th>
            <th style="flex: 1">Total</th>
            <th style="flex: 0.5">View Detail</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-order style="min-height: 300px" let-expanded="expanded">
          <tr>
            <td style="flex: 0.5">{{ order.id }}</td>
            <td style="flex: 2">
              <div class="">{{ order.createdDate | date : 'M/d/yy, h:mm a' }}</div>
            </td>
            <td style="flex: 5">
              <div class="" [innerHTML]="order.address | highlighter : filter.address : ''"></div>
            </td>
            <td style="flex: 1">
              <!-- <span [class]="'status-default status-' + order.shippingStatus.id">{{ order.shippingStatus.name }}</span> -->
              <p-dropdown
                [options]="listStatuses"
                (onChange)="changeShippingStatus($event, order)"
                [(ngModel)]="order.shippingStatus"
                optionLabel="name"
                placeholder="Select a Status">
                <ng-template pTemplate="selectedItem">
                  <div class="status-item status-item-value">
                    <div>
                      <span [class]="'status-default status-' + order.shippingStatus.id">{{ order.shippingStatus.name }}</span>
                    </div>
                  </div>
                </ng-template>
                <ng-template let-status pTemplate="item">
                  <div class="status-item">
                    <div>
                      <span [class]="'status-default status-' + status.id">{{ status.name }}</span>
                    </div>
                  </div>
                </ng-template>
              </p-dropdown>
            </td>
            <td style="flex: 1">
              <a class="underline cursor-pointer payment" (click)="showDialogPayment(order.payment)">{{ order.payment.status }}</a>
            </td>
            <td style="flex: 1">
              <span>{{ order.total | myCurrency : 'VND' }}</span>
            </td>
            <td style="flex: 0.5">
              <button
                pButton
                pRipple
                type="button"
                (click)="showDetail(order.id)"
                icon="pi pi-eye"
                class="p-element p-button-text p-button-rounded p-button-plain p-button p-component p-button-icon-only eyes-view"></button>
            </td>
            <!-- <td style="flex: 0.5">
              <button
                pButton
                pRipple
                title="Edit"
                icon="pi pi-pencil"
                class="p-button-rounded p-button-success mr-2"
                (click)="editProduct(product)"></button>
            </td> -->
          </tr>
        </ng-template>

        <ng-template pTemplate="rowexpansion" let-product>
          <tr>
            <td colspan="7">
              <div class="p-3">
                <p-table [value]="product.orders" dataKey="id" responsiveLayout="scroll">
                  <ng-template pTemplate="header">
                    <tr>
                      <th pSortableColumn="id">
                        Id
                        <p-sortIcon field="price"></p-sortIcon>
                      </th>
                      <!-- <th pSortableColumn="customer">
                                      Customer
                                      <p-sortIcon
                                          field="customer"
                                      ></p-sortIcon>
                                  </th>
                                  <th pSortableColumn="date">
                                      Date
                                      <p-sortIcon
                                          field="date"
                                      ></p-sortIcon>
                                  </th>
                                  <th pSortableColumn="amount">
                                      Amount
                                      <p-sortIcon
                                          field="amount"
                                      ></p-sortIcon>
                                  </th>
                                  <th pSortableColumn="stats">
                                      Status
                                      <p-sortIcon
                                          field="status"
                                      ></p-sortIcon>
                                  </th>
                                  <th style="width: 4rem"></th> -->
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-order>
                    <tr>
                      <td>{{ order.id }}</td>
                      <!-- <td>{{ order.customer }}</td>
                                  <td>{{ order.date }}</td>
                                  <td>
                                      {{
                                          order.amount
                                              | currency : "USD"
                                      }}
                                  </td>
                                  <td>
                                      <span
                                          [class]="
                                              'order-badge order-' +
                                              order.status.toLowerCase()
                                          "
                                          >{{ order.status }}</span
                                      >
                                  </td>
                                  <td>
                                      <p-button
                                          type="button"
                                          icon="pi pi-search"
                                      ></p-button>
                                  </td> -->
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="emptymessage">
                    <tr>
                      <td colspan="6">There are no order for this product yet.</td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="7">No product found.</td>
          </tr>
        </ng-template>
        <!-- <ng-template pTemplate="footer">
          <tr>
            <td colspan="3">Total: {{ paginator.totalElements }}</td>
          </tr>
        </ng-template> -->
      </p-table>
    </div>
  </div>
</div>

<p-dialog
  header="Payment"
  [resizable]="false"
  [modal]="true"
  [maximizable]="true"
  appendTo="body"
  [(visible)]="isShowDialogPayment"
  [style]="{ width: '30vw' }">
  <p-table [value]="payments" responsiveLayout="stack" [breakpoint]="'2000px'">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th>ID</th>
        <th>Payer</th>
        <th>Payment Method</th>
        <th>Email</th>
        <th>Status</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-payment let-columns="columns">
      <tr>
        <td><span class="p-column-title">ID</span>{{ payment.id }}</td>
        <td><span class="p-column-title">Payer</span>{{ payment.payer }}</td>
        <td><span class="p-column-title">Payment Method</span>{{ payment.paymentMethod }}</td>
        <td><span class="p-column-title">Email</span>{{ payment.email }}</td>
        <td>
          <span class="p-column-title">Status</span><span>{{ payment.status }}</span>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <ng-template pTemplate="footer">
    <button type="button" pButton pRipple icon="pi pi-times" (click)="isShowDialogPayment = false" label="Close" class=""></button>
  </ng-template>
</p-dialog>
<p-dialog header="Order Detail" [resizable]="false" [modal]="true" [maximizable]="true" appendTo="body" [(visible)]="isShowOrderDetail">
  <p-table
    [scrollable]="true"
    scrollHeight="600px"
    [value]="orderDetails"
    responsiveLayout="stack"
    [breakpoint]="'960px'"
    styleClass="p-datatable-gridlines"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
    <!-- <ng-template pTemplate="caption"> Stack </ng-template> -->
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th class="justify-content-center">Image</th>
        <th class="justify-content-center">Product</th>
        <th class="justify-content-center">ID Product</th>
        <th class="justify-content-center">Quantity</th>
        <th class="justify-content-center">Price</th>
        <th class="justify-content-center">Discount</th>
        <th class="justify-content-center">Total</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-orderdetail let-columns="columns">
      <tr>
        <td>
          <span class="p-column-title"></span
          ><a routerLink="/" class="order-detail-link"><img [src]="urlImage + '/' + orderdetail.product.image.link" width="100px" alt="" /></a>
        </td>
        <td class="justify-content-center"><span class="p-column-title">Product</span>{{ orderdetail.product.name }}</td>
        <td class="justify-content-center"><span class="p-column-title">ID Product</span>{{ orderdetail.product.id }}</td>
        <td class="justify-content-center"><span class="p-column-title">Quantity</span>{{ orderdetail.quantity }}</td>
        <td class="justify-content-center"><span class="p-column-title">Price</span>{{ orderdetail.price | myCurrency : 'VND' }}</td>
        <td class="justify-content-center">
          <span class="p-column-title">Discount</span>{{ orderdetail.discount ? '-' + orderdetail.discount + '%' : '' }}
        </td>
        <td class="justify-content-center">
          <span class="p-column-title">Total</span>
          {{ (orderdetail.price - (orderdetail.price * orderdetail.discount) / 100) * orderdetail.quantity | myCurrency : 'VND' }}
        </td>
      </tr>
    </ng-template>
    <!-- <ng-template pTemplate="summary">
    <div
      class="flex align-items-center justify-content-between text-2xl"
    >
      <span> Subtotal:</span>
      <span class="px-8"> {{ subTotal | myCurrency: "vnd" }}</span>
    </div>
  </ng-template> -->
    <!-- <ng-template pTemplate="footer">
      <tr>
        <td colspan="3">Totals</td>
        <td>$506,202</td>
        <td>{{ subTotal | myCurrency : 'vnd' }}</td>
      </tr>
    </ng-template> -->
  </p-table>
</p-dialog>
<!-- <app-loading [hidden]="!isLoading"></app-loading> -->
