<div class="">
  <div [hidden]="products.length === 0" class="grid container">
    <div
      class="col-6 sm:col-6 md:col-3 lg:col-2"
      *ngFor="let product of products"
    >
      <app-product-item [product]="product"></app-product-item>
    </div>
  </div>
  <p-paginator
    [hidden]="products.length === 0"
    [rows]="1"
    [totalRecords]="paginator.totalElements"
    [first]="paginator.pageNumber!"
    (onPageChange)="onPageChange($event)"
  ></p-paginator>
</div>
<div [hidden]="products.length !== 0" class="text-center m-auto text-2xl mt-5">
  Không có kết quả nào phù hợp.
</div>
