<div class="reset-wrapper col-12 sm:col-12 md:col-6">
  <div class="reset-site">
    <div class="reset-title">
      <h2>{{ 'ResetPassword' | translate }}</h2>
    </div>
    <form action="" [formGroup]="resetForm" (ngSubmit)="onSubmit()" class="reset-form">
      <div class="reset-form__field">
        <div class="p-input-icon-right block">
          <i [ngClass]="isShowPassword ? 'pi pi-eye-slash' : 'pi pi-eye'" (click)="onChangeShowPassword()"></i>
          <input
            id="password"
            [type]="isShowPassword ? 'text' : 'password'"
            class="reset-form__field-input"
            [placeholder]="'Password' | translate"
            formControlName="password"
            type="password"
            pInputText />
        </div>

        <span *ngIf="getPassword.dirty">
          <small
            *ngIf="getPassword.errors?.['minlength']||getPassword.errors?.['required']"
            id="password-help"
            class="reset-form__field-message p-error block">
            {{ 'Password' | translate }} {{ 'PasswordAtLeast6Characters' | translate }}.</small
          >
          <small *ngIf="getPassword.errors?.['maxlength']" id="password-help" class="reset-form__field-message p-error block">
            {{ 'Password' | translate }} {{ 'PasswordMax40Characters' | translate }}.</small
          >
        </span>
      </div>
      <div class="reset-form__field mb-6">
        <div class="p-input-icon-right block">
          <i [ngClass]="isShowRePassword ? 'pi pi-eye-slash' : 'pi pi-eye'" (click)="onChangeShowRePassword()"></i>

          <input
            id="confirmpassword"
            class="reset-form__field-input"
            type="password"
            pInputText
            [type]="isShowRePassword ? 'text' : 'password'"
            formControlName="confirmPassword"
            [placeholder]="'ConfirmPassword' | translate" />
        </div>

        <span *ngIf="getConfirmPassword.dirty">
          <small *ngIf="getConfirmPassword.errors?.['matching']" id="password-help" class="reset-form__field-message p-error block">
            {{ 'Password' | translate }} {{ 'DontMatch' | translate }}</small
          >
          <small *ngIf="getConfirmPassword.errors?.['required']" id="password-help" class="reset-form__field-message p-error block">
            {{ 'Password' | translate }} {{ 'NotEmpty' | translate }}</small
          >
        </span>
      </div>
      <div class="grid action-wrapper mt-3">
        <button type="submit" [disabled]="!resetForm.valid" class="btn-action reset-form__btn col-5 sm:col-4 md:col-4" pButton [loading]="isLoading">
          {{ 'Reset' | translate }}
        </button>
        <div class="link-action-wrapper col-5 sm:col-4 md:col-4">
          <a class="link-action" [routerLink]="['/auth/login']">{{ 'Login' | translate }}?</a><br />
          {{ 'Or' | translate }}
          <a class="link-action" [routerLink]="['/auth/register']">{{ 'Register' | translate }}</a>
        </div>
      </div>
    </form>
  </div>
</div>
<p-toast></p-toast>
