@import '../scss/utils/variable';
.admin-wrapper {
  overflow: hidden;

  $sidebar: 200px;
  $sibar-min: 70px;
  background: #eff3f8;
  position: relative;
  transition: background 0.25s ease;
  &.isShowSidebar {
    .sidebar {
      // transform: translate(0);
      left: 1rem;
      width: $sidebar;
      // opacity: 1;
      .sidebar-item {
        padding: 1.5rem 3rem;

        span {
          display: block;
          transition: display 0.3s ease;
          will-change: display;
        }
      }
    }
    .topbar {
      .logo-admin-wrapper {
        width: 200px;
        .logo-admin-mini {
          display: none;
        }
      }
    }
    .main-content {
      // margin-left: $sidebar;
      // padding-left: 2rem;
      width: calc(100% - $sidebar);
    }
  }
  .sidebar {
    // position: absolute;
    // opacity: 0;

    width: $sibar-min;
    // height: calc(100vh);
    z-index: 20;
    overflow-y: auto;
    -webkit-user-select: none;
    user-select: none;
    top: 8rem;
    // transition: transform 0.2s, left 0.2s;
    background-color: var(--surface-overlay);

    // box-shadow: 0 3px 5px #00000005, 0 0 2px #0000000d, 0 1px 4px #00000014;
    // transform: translate(-100%);
    left: 0;
    transition: all 0.2s linear;
    will-change: opacity;
    .sidebar-item {
      border-radius: 0;
      margin-left: 0;
      display: flex;
      width: 100%;
      height: auto;
      justify-content: flex-start;
      // border-radius: 12px;
      padding: 1.5rem 2.7rem;
      align-items: center;
      color: var(--text-color-secondary);
      transition: background-color 0.2s;
      text-decoration: none;
      box-shadow: none;
      i {
        font-size: 1.6rem;
        margin-right: 0.6rem;
      }
      span {
        font-size: 1.5rem;
        display: none;
        transition: display 0.3s ease;
        will-change: display;
      }
      &:hover {
        color: var(--text-color);
        background-color: #f6f9fc;
      }
      &.active {
        color: #6366f1;
        background-color: #efefef6b;
      }
    }
  }
  .main-content {
    transition: width 0.25s ease, margin 0.25s ease;
    flex-grow: 1;
    width: calc(100% - $sibar-min);
    // min-height: calc(100vh - 70px);
    margin-left: 0;
    // padding-left: 2rem;
    padding: 2rem 3rem 3rem 3rem;
    // display: flex;
    flex-direction: column;
    // min-height: 100vh;
    justify-content: space-between;
    // padding: 0rem 2rem 2rem 2rem;
  }
}
.p-component {
  font-family: $font-family;
}
