<div class="admin-wrapper" [class.isShowSidebar]="isShowSidebar">
  <app-header-manager [class.isShowSidebar]="isShowSidebar" (newItemEvent)="showSidebar($event)"></app-header-manager>
  <div class="body-content flex">
    <div class="sidebar">
      <a
        [routerLink]="['home']"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active"
        class="p-link sidebar-item flex justify-content-between mt-4"
        ><span>Home</span> <i class="pi pi-calendar"></i
      ></a>
      <a
        [routerLink]="['user']"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active"
        class="p-link sidebar-item flex justify-content-between"
        ><span>User</span> <i class="pi pi-users"></i
      ></a>
      <a
        [routerLink]="['product']"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active"
        class="p-link sidebar-item flex justify-content-between"
        ><span>Product</span> <i class="pi pi-circle"></i
      ></a>
      <a
        [routerLink]="['bill']"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active"
        class="p-link sidebar-item flex justify-content-between"
        ><span>Bill</span> <i class="pi pi-money-bill"></i
      ></a>
      <a
        [routerLink]="['voucher']"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active"
        class="p-link sidebar-item flex justify-content-between"
        ><span>Voucher</span> <i class="pi pi-tags"></i
      ></a>
      <a
        [routerLink]="['category']"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active"
        class="p-link sidebar-item flex justify-content-between"
        ><span>Category</span> <i class="pi pi-th-large"></i
      ></a>
      <a
        [routerLink]="['comment']"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active"
        class="p-link sidebar-item flex justify-content-between"
        ><span>Comment</span> <i class="pi pi-comments"></i
      ></a>
      <a
        [routerLink]="['x']"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active"
        class="p-link sidebar-item flex justify-content-between"
        ><span>Settings</span> <i class="pi pi-cog"></i
      ></a>
      <a
        [routerLink]="['x']"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active"
        class="p-link sidebar-item flex justify-content-between"
        ><span>Profile</span><i class="pi pi-user"></i>
      </a>
    </div>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
