<div class="forgot-wrapper col-12 sm:col-12 md:col-6">
  <div class="forgot-site">
    <div class="forgot-title">
      <h2>FORGOT PASSWORD</h2>
    </div>
    <form
      action=""
      [formGroup]="forgotForm"
      (ngSubmit)="onSubmit()"
      class="forgot-form"
    >
      <div class="forgot-form__field">
        <input
          id="email"
          class="forgot-form__field-input"
          placeholder="Email"
          formControlName="email"
          type="email"
          pInputText
        />
        <span *ngIf="getEmail.dirty">
          <small
            *ngIf="getEmail.errors?.['minlength']||getEmail.errors?.['required']"
            id="password-help"
            class="forgot-form__field-message p-error block"
          >
            Email không được bỏ trống.</small
          >
          <small
            *ngIf="getEmail.errors?.['email']"
            id="password-help"
            class="forgot-form__field-message p-error block"
          >
            Email sai định dạng. Vd:tuyen@gmail.com</small
          >
        </span>
      </div>

      <div class="grid action-wrapper">
        <button
          type="submit"
          [disabled]="!forgotForm.valid"
          class="btn-action forgot-form__btn col-5 sm:col-4 md:col-4"
          pButton
          [loading]="isLoading"
        >
          RESET
        </button>
        <div class="link-action-wrapper col-5 sm:col-4 md:col-4">
          <a class="link-action" [routerLink]="['/account/login']">LOGIN</a
          ><br />
          or
          <a class="link-action" [routerLink]="['/account/register']"
            >CREATE A NEW ACCOUNT</a
          >
        </div>
      </div>
    </form>
  </div>
</div>
