<p-toast></p-toast>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<div class="mt-2">
  <div class="text-3xl font-semibold mb-4">{{ titleComponent }}</div>
  <!-- <div class="account-side col-12 sm:col-12 md:12 lg:col-3">
      <h5 class="title text-3xl uppercase">Account</h5>
      <ul class="text-2xl">
        <li>
          <a routerLink="/account/profile" class="block py-2">
            <i class="pi pi-circle"></i> Account information</a
          >
        </li>
        <li>
          <a routerLink="/account/order" class="block py-2"
            ><i class="pi pi-circle"></i> Orders</a
          >
        </li>
        <li>
          <a (click)="logout()" class="block py-2"
            ><i class="pi pi-circle"></i> Logout</a
          >
        </li>
      </ul>
    </div> -->
  <div class="col-12 sm:col-12 md:12 lg:col-12 px-0">
    <div class="card">
      <p-toolbar styleClass="mb-4 gap-2">
        <ng-template pTemplate="left">
          <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
        </ng-template>
        <ng-template pTemplate="right">
          <p-button type="button" icon="pi pi-refresh" styleClass="p-button-text" (click)="resetView()"></p-button
        ></ng-template>
      </p-toolbar>

      <p-table
        [loading]="isLoadingTable"
        #dt
        [value]="users"
        [rows]="10"
        [globalFilterFields]="['id', 'firstName', 'lastName', 'userName', 'email']"
        [rowHover]="true"
        dataKey="id"
        [showCurrentPageReport]="true"
        [responsive]="true"
        responsiveLayout="scroll"
        [scrollable]="true"
        scrollHeight="61vh">
        <!-- <ng-template pTemplate="summary">
            <div class="page">
              <p-paginator
                [rows]="1"
                [totalRecords]="paginator.totalElements"
                [first]="paginator.pageNumber!"
                (onPageChange)="onPageChange($event)"
              ></p-paginator>
            </div>
          </ng-template> -->
        <ng-template pTemplate="caption">
          <div class="flex align-items-center justify-content-between">
            <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains')" placeholder="Search..." />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="id" style="flex: 1">Id <p-sortIcon field="id"></p-sortIcon></th>
            <!-- <th pSortableColumn="userName" style="flex: 1">User Name</th> -->
            <th pSortableColumn="email" style="flex: 5">Email <p-sortIcon field="email"></p-sortIcon></th>
            <th style="flex: 3">Full name</th>
            <th style="flex: 2">Role</th>
            <th style="flex: 1">Status</th>
            <th style="flex: 1">Action</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
          <tr>
            <td style="flex: 1">{{ user.id }}</td>
            <!-- <td>
              {{ user.userName }}
            </td> -->
            <td style="flex: 5">
              {{ user.email }}
            </td>
            <td style="flex: 3">{{ user.lastName + ' ' + user.firstName }}</td>
            <td style="flex: 2">{{ user.roles !== null && user.roles[0] }}</td>
            <td style="flex: 1">
              <span [class]="'status-default status-' + user.status">{{ user.status === 0 ? 'INACTIVE' : 'ACTIVE' }}</span>
            </td>
            <td style="flex: 1">
              <button
                pButton
                pRipple
                title="Edit"
                icon="pi pi-pencil"
                class="p-button-rounded p-button-success mr-2"
                (click)="editUser(user)"></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <div class="page grid align-items-center">
            <div class="absolute">
              Show {{ paginator.pageSize * paginator.pageNumber + 1 }} to
              {{
                users.length === paginator.pageSize
                  ? paginator.pageSize * paginator.pageNumber + paginator.pageSize
                  : paginator.pageSize * paginator.pageNumber + users.length
              }}
              of {{ paginator.totalElements }} products.
            </div>
            <div class="col-12">
              <p-paginator
                [rows]="paginator.pageSize"
                [totalRecords]="paginator.totalElements"
                [first]="paginator.pageSize * paginator.pageNumber"
                (onPageChange)="onPageChange($event)"
                [rowsPerPageOptions]="[10, 20, 30]"></p-paginator>
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="7">No user found.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <p-dialog [(visible)]="userDialog" [style]="{ width: '450px' }" header="New address" [modal]="true" styleClass="p-fluid">
      <ng-template pTemplate="content">
        <div class="formgrid grid">
          <div class="field col">
            <label for="firstName" class="font-semibold">First name*</label>
            <input
              type="text"
              pInputText
              id="firstName"
              [(ngModel)]="user.firstName"
              [maxLength]="20"
              required
              [ngClass]="{
                'ng-invalid ng-dirty': submitted && !user.firstName
              }" />
            <small class="p-error" *ngIf="submitted && !user.firstName">First name is required.</small>
          </div>
          <div class="field col">
            <label for="lastName" class="font-semibold">Last name*</label>
            <input
              type="text"
              pInputText
              id="lastName "
              [(ngModel)]="user.lastName"
              required
              [maxLength]="20"
              [ngClass]="{
                'ng-invalid ng-dirty': submitted && !user.lastName
              }" />
            <small class="p-error" *ngIf="submitted && !user.lastName">Last name is required.</small>
          </div>
          <div class="field col-12">
            <label for="email" class="font-semibold">Email*</label>
            <input
              type="email"
              pInputText
              [pattern]="emailPattern"
              id="email "
              [(ngModel)]="user.email"
              [disabled]="user.id ? true : false"
              required
              #email="ngModel"
              [ngClass]="{
                'ng-invalid ng-dirty': submitted && !user.email
              }" />
            <small class="p-error" *ngIf="submitted && !user.email">Email name is required.</small>
            <small class="p-error" *ngIf="email.errors?.['pattern']">Email is invalid.</small>
          </div>

          <div class="field col-6">
            <label class="font-semibold">Role*</label>
            <p-multiSelect
              [options]="listRoles"
              [(ngModel)]="rolesSelected"
              defaultLabel="Select a role"
              optionLabel="label"
              class="multiselect-custom"
              [ngClass]="{
                'ng-invalid ng-dirty': submitted && !statusSelected.label
              }">
              <ng-template let-value pTemplate="selectedItems">
                <div class="inline-flex align-items-center px-2 bg-primary text-primary border-round mr-2" *ngFor="let option of rolesSelected">
                  <div>{{ option.label | uppercase }}</div>
                </div>
                <div *ngIf="!rolesSelected || rolesSelected.length === 0">Select Roles</div>
              </ng-template>
              <ng-template let-role pTemplate="item">
                <div class="flex align-items-center role-item">
                  <div>{{ role.label | uppercase }}</div>
                </div>
              </ng-template>
            </p-multiSelect>
            <small class="p-error" *ngIf="submitted && !rolesSelected.length">Role is required.</small>
          </div>

          <div class="field col-6">
            <label class="font-semibold">Status*</label>
            <p-dropdown
              [ngClass]="{
                'ng-invalid ng-dirty': submitted && !statusSelected.label
              }"
              [options]="listStatuses"
              [(ngModel)]="statusSelected"
              optionLabel="value"
              placeholder="Select a Status">
              <ng-template pTemplate="selectedItem">
                <div class="status-item status-item-value" *ngIf="statusSelected">
                  <div>
                    <span [class]="'status-default status-label-' + statusSelected.value">{{ statusSelected.label }}</span>
                  </div>
                </div>
              </ng-template>
              <ng-template let-status pTemplate="item">
                <div class="status-item">
                  <div>
                    <span [class]="'status-default status-' + status.value">{{ status.label }}</span>
                  </div>
                </div>
              </ng-template>
            </p-dropdown>
            <small class="p-error" *ngIf="submitted && !statusSelected.label">Status name is required.</small>
          </div>
        </div>
      </ng-template>

      <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" [loading]="isLoading" (click)="saveUser()"></button>
      </ng-template>
    </p-dialog>
  </div>
</div>

<!-- <app-loading [hidden]="!isLoading"></app-loading> -->
