<p-toast></p-toast>
<div class="product-detail-wrapper mt-6" *ngIf="product">
  <div class="container">
    <div class="main grid">
      <div class="col-12 md:col-5">
        <swiper
          style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff"
          [spaceBetween]="10"
          [thumbs]="{ swiper: thumbsSwiper }"
          class="mySwiper2">
          <ng-template swiperSlide *ngFor="let img of images"><img [src]="urlImage + '/' + img.link" /></ng-template>
          <!-- <ng-template swiperSlide
            ><img
              src="https://swiperjs.com/demos/images/nature-2.jpg" /></ng-template
          ><ng-template swiperSlide
            ><img
              src="https://swiperjs.com/demos/images/nature-3.jpg" /></ng-template
          ><ng-template swiperSlide
            ><img
              src="https://swiperjs.com/demos/images/nature-4.jpg" /></ng-template
          ><ng-template swiperSlide
            ><img
              src="https://swiperjs.com/demos/images/nature-5.jpg" /></ng-template
          ><ng-template swiperSlide
            ><img
              src="https://swiperjs.com/demos/images/nature-6.jpg" /></ng-template
          ><ng-template swiperSlide
            ><img
              src="https://swiperjs.com/demos/images/nature-7.jpg" /></ng-template
          ><ng-template swiperSlide
            ><img
              src="https://swiperjs.com/demos/images/nature-8.jpg" /></ng-template
          ><ng-template swiperSlide
            ><img
              src="https://swiperjs.com/demos/images/nature-9.jpg" /></ng-template
          ><ng-template swiperSlide
            ><img src="https://swiperjs.com/demos/images/nature-10.jpg"
          /></ng-template> -->
        </swiper>
        <swiper
          (swiper)="thumbsSwiper = $event"
          [spaceBetween]="10"
          [slidesPerView]="4"
          [freeMode]="true"
          [watchSlidesProgress]="true"
          class="mySwiper">
          <ng-template swiperSlide *ngFor="let img of images"><img class="cursor-pointer" [src]="urlImage + '/' + img.link" /></ng-template>
        </swiper>
      </div>
      <div class="col-12 md:col-7 md:pl-5">
        <div class="product-infomation text-black-alpha-90">
          <h3 class="name text-5xl mt-0">{{ product.name }}</h3>
          <div class="stock text-2xl my-6"><b>Availability:</b> Instock</div>
          <div class="price my-6 text-2xl flex align-items-center">
            <span class="new-price mr-3"
              ><b>{{ calcPrice(product.price, product.discount) | myCurrency : 'VND' }}</b></span
            >
            <del *ngIf="product.discount" class="old-price mr-3 text-black-alpha-60 font-semibold">{{ product.price | myCurrency : 'VND' }} </del>
            <span *ngIf="product.discount" class="sale-title">{{ product.discount }}</span>
          </div>
          <div class="text-2xl my-6">
            Hurry up! only
            <b class="main-color">{{ product.quantity }}</b> products left in stock!
          </div>
          <p class="text-500 text-2xl">
            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of
            using Lorem Ipsum is that it has a more-or-less normal distribution of letters,
          </p>
          <div class="quantity inline-flex align-items-center my-6">
            <label for="" class="text-3xl mr-4"><b>Quantity: </b></label>
            <button class="btn-qty" (click)="onChangeQuantity(inputQuantityElement, '-')">-</button>
            <input
              type="text"
              class="cart-item__infor-quantity-value"
              onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"
              maxlength="3"
              [disabled]="true"
              #inputQuantityElement
              [value]="quantity" />
            <button class="btn-qty" (click)="onChangeQuantity(inputQuantityElement, '+')">+</button>
          </div>
          <div class="">
            <a class="btn-action md:inline-block block px-7 uppercase text-center" (click)="addToCart()">Add to cart</a>
          </div>
          <div class="service mt-5">
            <ul>
              <li class="flex align-items-center">
                <span class="block max-w-4rem"><img src="../../../../assets/img/background/img_product_service_1.webp" alt="" class="w-full" /></span>
                <p class="text-2xl ml-4">Canh tác hướng hữu cơ không hóa chất</p>
              </li>
              <li class="flex align-items-center">
                <span class="block max-w-4rem"><img src="../../../../assets/img/background/img_product_service_2.webp" alt="" class="w-full" /></span>
                <p class="text-2xl ml-4">Bảo hành đến từng cọng rau</p>
              </li>
              <li class="flex align-items-center">
                <span class="block max-w-4rem"><img src="../../../../assets/img/background/img_product_service_3.webp" alt="" class="w-full" /></span>
                <p class="text-2xl ml-4">Freeship cho hóa đơn từ 250k trong 2h.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="desc mt-8">
      <div class="desc-title">
        <h3 class="uppercase text-2xl">Description</h3>
      </div>
      <div
        class="desc-content text-2xl"
        [innerHTML]="product.description ? product.description : ('There is no description for this product' | safeHtml)"></div>
    </div>
  </div>
</div>
