<div class="product-detail-wrapper">
  <div class="container">
    <div class="main grid">
      <div class="col-5">
        <swiper
          style="
            --swiper-navigation-color: #fff;
            --swiper-pagination-color: #fff;
          "
          [loop]="true"
          [spaceBetween]="10"
          [navigation]="true"
          [thumbs]="{ swiper: thumbsSwiper }"
          class="mySwiper2"
        >
          <ng-template swiperSlide
            ><img
              src="https://swiperjs.com/demos/images/nature-1.jpg" /></ng-template
          ><ng-template swiperSlide
            ><img
              src="https://swiperjs.com/demos/images/nature-2.jpg" /></ng-template
          ><ng-template swiperSlide
            ><img
              src="https://swiperjs.com/demos/images/nature-3.jpg" /></ng-template
          ><ng-template swiperSlide
            ><img
              src="https://swiperjs.com/demos/images/nature-4.jpg" /></ng-template
          ><ng-template swiperSlide
            ><img
              src="https://swiperjs.com/demos/images/nature-5.jpg" /></ng-template
          ><ng-template swiperSlide
            ><img
              src="https://swiperjs.com/demos/images/nature-6.jpg" /></ng-template
          ><ng-template swiperSlide
            ><img
              src="https://swiperjs.com/demos/images/nature-7.jpg" /></ng-template
          ><ng-template swiperSlide
            ><img
              src="https://swiperjs.com/demos/images/nature-8.jpg" /></ng-template
          ><ng-template swiperSlide
            ><img
              src="https://swiperjs.com/demos/images/nature-9.jpg" /></ng-template
          ><ng-template swiperSlide
            ><img src="https://swiperjs.com/demos/images/nature-10.jpg"
          /></ng-template>
        </swiper>
        <swiper
          (swiper)="thumbsSwiper = $event"
          [loop]="true"
          [spaceBetween]="10"
          [slidesPerView]="4"
          [freeMode]="true"
          [watchSlidesProgress]="true"
          class="mySwiper"
        >
          <ng-template swiperSlide
            ><img
              src="https://swiperjs.com/demos/images/nature-1.jpg" /></ng-template
          ><ng-template swiperSlide
            ><img
              src="https://swiperjs.com/demos/images/nature-2.jpg" /></ng-template
          ><ng-template swiperSlide
            ><img
              src="https://swiperjs.com/demos/images/nature-3.jpg" /></ng-template
          ><ng-template swiperSlide
            ><img
              src="https://swiperjs.com/demos/images/nature-4.jpg" /></ng-template
          ><ng-template swiperSlide
            ><img
              src="https://swiperjs.com/demos/images/nature-5.jpg" /></ng-template
          ><ng-template swiperSlide
            ><img
              src="https://swiperjs.com/demos/images/nature-6.jpg" /></ng-template
          ><ng-template swiperSlide
            ><img
              src="https://swiperjs.com/demos/images/nature-7.jpg" /></ng-template
          ><ng-template swiperSlide
            ><img
              src="https://swiperjs.com/demos/images/nature-8.jpg" /></ng-template
          ><ng-template swiperSlide
            ><img
              src="https://swiperjs.com/demos/images/nature-9.jpg" /></ng-template
          ><ng-template swiperSlide
            ><img src="https://swiperjs.com/demos/images/nature-10.jpg"
          /></ng-template>
        </swiper>
      </div>
      <div class="col-7">
        <div class="product-infomation">
          <h3 class="name">Avocado seed</h3>
          <div class="stock">Availability: Instock</div>
          <div class="price">
            <span class="old-price">Rs. 18.00</span>
            <del class="new-price">Rs. 20.00 </del>
          </div>
          <div class="">Hurry up! only 35 products left in stock!</div>
          <p>
            It is a long established fact that a reader will be distracted by
            the readable content of a page when looking at its layout. The point
            of using Lorem Ipsum is that it has a more-or-less normal
            distribution of letters,
          </p>
          <div class="quantity inline-flex align-items-center">
            <label for="">Quantity:</label>
            <button class="btn-qty">-</button>
            <input
              type="text"
              class="cart-item__infor-quantity-value"
              onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"
              maxlength="3"
              value="12"
              #inputQuantityElement
            />
            <button class="btn-qty">+</button>
          </div>
          <div class="">
            <a class="btn-action inline-block">Add to cart</a>
          </div>
        </div>
      </div>
    </div>
    <div class="desc"></div>
  </div>
</div>
