/* You can add global styles to this file, and also import other style files */
@import url(./app/scss/base/_reset.scss);
@import '../src/app/scss/utils/variable';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  font-smooth: antialiased;
}
.main-color {
  color: $main-color;
}
::-webkit-scrollbar {
  width: 0.1px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.btn-action {
  display: unset;
  margin: 8px;
  padding: 15px 10px;
  background-color: $main-color;
  border: none;
  font-size: 1.4rem;
  cursor: pointer;
  color: #fff;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.container {
  margin-left: auto;
  margin-right: auto;
}
.container {
  padding-left: 10px !important;
  padding-right: 10px !important;
}
@media only screen and (max-width: 767px) {
  .container {
    max-width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 740px;
  }
}
@media only screen and (min-width: 992px) {
  .container {
    max-width: 980px;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media only screen and (min-width: 1400px) {
  .container {
    max-width: 1400px;
  }
}
.btn-animation {
  color: #000;
  margin: 10px 0 0 0;
  padding: 15px 30px;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  font-weight: 500;
  outline: none;
  border: 1px solid $main-color;
  position: relative;
  isolation: isolate;
  border-radius: 0;
  &:before {
    content: '';
    height: 100%;
    width: 0;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $main-color;
    z-index: -1;
    transition: width 0.25s ease-in;
    color: #fff;
  }
  &:hover {
    color: #fff;
    &:before {
      width: 100%;
    }
  }
}

.btn-animation-converse {
  color: #000;
  margin: 10px 0 0 0;
  padding: 15px 30px;
  border-radius: 4px;
  background-color: $main-color !important;
  cursor: pointer;
  font-weight: 500;
  outline: none;
  border: 1px solid $main-color;
  position: relative;
  isolation: isolate;
  border-radius: 0;
  &:before {
    content: '';
    height: 100%;
    width: 0;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: -1;
    transition: width 0.25s ease-in;
    color: #fff;
  }
  &:hover {
    color: #fff;
    &:before {
      width: 100%;
    }
  }
}
p-dialog {
  .p-component {
    font-family: $font-family;
  }
  .p-dialog-title {
    font-family: $font-family;
    font-size: 1.6rem !important;
  }
  .p-dialog-footer {
    .p-button-text {
    }
  }
}
.p-dialog .p-dialog-header .p-dialog-title {
  font-size: 1.6rem;
}
.p-component {
  font-size: 1.6rem !important;
  font-weight: 500;
  .p-link {
    font-size: 1.4rem !important;
  }
  .p-inputtext {
    font-size: 1.4rem !important;
  }
}
.p-toolbar {
  &.p-component {
    border-radius: 0;
  }
  .p-button {
    border-radius: 2px;
    padding: 1rem 2rem;
    font-family: $font-family;
  }
}
p-table {
  .p-button {
    border-radius: 2px;
    padding: 1rem 2rem;
    font-family: $font-family;
  }
}

p-table {
  ::-webkit-scrollbar {
    width: 3px;
  }

  /* Track */
}
p-toast {
  .p-toast {
    &.p-component {
      top: 15%;
    }
  }
}
.back-page {
  color: $main-color;
  .back-icon {
    transition: all 0.2s ease-out;
  }
  &:hover {
    .back-icon {
      transform: translateX(-3px);
    }
  }
}
.highlighted-text {
  background-color: yellow;
}
.pi {
  // font-size: 1.4rem;
}
.p-component {
  font-family: $font-family;
}
.p-inputtext {
  font-family: $font-family;
}
