@import "../../scss/utils/variable";
$border: 1px solid #ced4da;
$border-bottom: 1px solid #e1e1e1;
$color-btn: #357ebd;
.checkout-wrapper {
  font-size: $text-large;
  .input-custom {
    padding: 1.2rem 0.8rem;
    font-size: $text-large;
    &:focus {
      border-color: #66afe9;
      box-shadow: 0 0 0 1px #66afe9;
    }
  }
  .user-information {
    .avatar {
      img {
        border-radius: 8px;
      }
    }

    .btn-v {
      color: #338dbc;
      font-weight: 500;
      &:hover {
        font-weight: $font-bold;
      }
    }
  }
  .p-inputtext {
    padding: 1.2rem 0.8rem;
    font-size: $text-large;
  }
  .info-title {
    font-size: $text-large;
    font-weight: 600;
    margin: 0 0 12px 0;
  }
  .section-wrapper {
    background-color: #fafafa;
    padding: 1rem;
    box-shadow: 0 0 0 1px #d9d9d9;
    border-radius: 4px;
  }
  .message-error {
    font-size: $text-medium;
  }
  .p-component {
    font-size: $text-large;
  }
  .payment-wrapper {
    border: $border;
    border-radius: 5px;
    color: #545454;
    .payment-option {
      .p-radiobutton-box {
        box-shadow: none;
        .p-radiobutton-icon {
          width: 8px;
          height: 8px;
        }
      }
      &:not(:first-child) {
        border-top: $border;
      }
      .payment-icon {
        &--paypal {
          background: url(../../../assets/img/logo/LOGO-NEW-OK2.png);
          background-repeat: no-repeat;
          background-size: contain;
        }
        &--cash {
          color: #1990c6;
          font-size: 20px;
        }
        display: flex;
        justify-content: center;
        align-content: center;
        width: 52px;
        height: 28px;
        transition: opacity 0.5s cubic-bezier(0.3, 0, 0, 1);
        backface-visibility: hidden;
        font-size: inherit;
        transform: translate(0, 0);
      }
    }
  }
  .sidebar {
    background-color: #fafafa;
    border-left: #e1e1e1 solid 1px;
    &__title {
      border-bottom: $border-bottom;
    }

    .product-list {
      font-weight: 500;
      padding-top: 8px;
      .product-item {
        margin-bottom: 8px;
        .img-wrapper {
          width: 50px;
          height: 50px;
          margin-right: 8px;
          .quantity {
            font-size: 0.78em;
            white-space: nowrap;
            padding: 0 0.62em;
            border-radius: 2em;
            background-color: #2a9dcc;
            color: #fff;
            position: absolute;
            right: -0.9em;
            top: -0.55em;
            z-index: 3;
            box-sizing: border-box;
            min-width: 1.75em;
            height: 1.75em;
            text-align: center;
            line-height: 1.75em;
          }
          &:before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            border-radius: 8px;
            border: 1px rgba(0, 0, 0, 0.1) solid;
            z-index: 2;
          }
        }
        .name {
          flex: 1;
        }
        .price {
          font-weight: 500;
        }
      }
    }
    .voucher-wrapper {
      border-bottom: $border-bottom;
      padding-top: 8px;
    }
    .fee-wrapper {
      color: $text-color-light;
      border-bottom: $border-bottom;
    }
    .total-wrapper {
      color: $text-color-light;
      font-size: 1.8rem;
      font-weight: bold;
      .total-value {
        color: #2a9dcc;
      }
    }
    .btn-action-wrapper {
      margin-bottom: 8px;
      .btn-checkout {
        padding: 1rem 1.5rem;
        &:hover {
          filter: grayscale(40%);
        }
      }
      &:hover {
        .back-icon {
          transform: translateX(-3px);
        }
      }
      .back-cart {
        color: #2a9dcc;
        .back-icon {
          transition: all 0.2s ease-out;
        }
      }
    }
  }
}
