@import '../../../scss/utils/variable';

.product-item-wrapper {
  font-size: $text-medium;
  padding: 12px 8px;
  .product-img {
    position: relative;
    box-shadow: 0 0 13px 0 rgb(0, 0, 0, 0.06);
    transition: all 0.5s linear;
    picture {
      position: relative;
      // width: 37%;
      &:after {
        content: '';
        display: block;
        padding-bottom: 100%; /* The padding depends on the width, not on the height, so with a padding-bottom of 100% you will get a square */
      }
      img {
        position: absolute; /* Take your picture out of the flow */
        top: 0;
        bottom: 0;
        left: 0;
        right: 0; /* Make the picture taking the size of it's parent */
        width: 100%; /* This if for the object-fit */
        height: 100%; /* This if for the object-fit */
        object-fit: cover; /* Equivalent of the background-size: cover; of a background-image */
        object-position: center;
      }
    }
    .discount-tag {
      position: absolute;
      background: red;
      font-weight: $font-bold;
      padding: 4px 8px;
      color: #fff;
      z-index: 1;
    }
    &__link {
    }
    &:hover {
      box-shadow: 0 0 13px 0 rgb(0, 0, 0, 0.3);
    }
  }
  .product-detail {
    &__name {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      min-height: 40px;
      &-link {
        color: #00381a;
        font-size: 14px;
        font-weight: $font-medium;
        line-height: 1.3;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        &:hover {
          color: $main-color;
        }
      }
    }
    &__price {
      font-size: $text-medium;
      &-old {
      }
      &-new {
        font-weight: $font-bold;
        color: #f94c43;
        margin-right: 10px;
      }
    }
    .product-wrapper {
      .btn-action {
        color: #000;
        margin: 10px 0 0 0;
        padding: 15px 30px;
        border-radius: 4px;
        background-color: transparent;
        cursor: pointer;
        font-weight: 500;
        outline: none;
        border: 1px solid $main-color;
        position: relative;
        isolation: isolate;
        border-radius: 0;
      }

      .btn-action {
        &:before {
          content: '';
          height: 100%;
          width: 0;
          position: absolute;
          top: 0;
          left: 0;
          background-color: $main-color;
          z-index: -1;
          transition: width 0.25s ease-in;
          color: #fff;
        }
      }

      .btn-action {
        &:hover {
          color: #fff;
          &:before {
            width: 100%;
          }
        }
      }
    }
  }
}
p-toast {
  .p-component {
    font-size: 1.2rem;
  }
}
