<div class="product-item-wrapper">
  <div class="product-img">
    <span class="discount-tag">-10%</span>
    <a href="" class="product-img__link">
      <picture>
        <img
          class=""
          alt=" Dừa xiêm trọc Bến Tre size M (450-600g/trái) "
          data-src="//product.hstatic.net/200000271661/product/traicay-duaxiem_7ca1dbab69fe45d5a64f9e3b43cbbb01_large.jpg"
          data-lowsrc="//product.hstatic.net/200000271661/product/traicay-duaxiem_7ca1dbab69fe45d5a64f9e3b43cbbb01_large.jpg"
          data-sizes="auto"
          [lazyLoad]="image.link || ''"
          sizes="197px"
        />
      </picture>
    </a>
  </div>
  <div class="product-detail">
    <h3 class="product-detail__name">
      <a href="" class="product-detail__name-link">{{ product.name }}</a>
    </h3>
    <div class="product-detail__price">
      <span class="product-detail__price-new">{{
        (product.price || 0) -
          ((product.price || 0) * (product.discount || 0)) / 100
          | currency: "VND"
      }}</span>
      <del class="product-detail__price-old">{{
        product.price | currency: "VND"
      }}</del>
    </div>
    <div class="product-wrapper">
      <button class="btn-action" (click)="addCart(product)">
        Thêm vào giỏ
      </button>
    </div>
  </div>
</div>
